* {
    font-family: Arial;
}

.navbar {
    display: flex;
    background-color: #222222;
    justify-content: space-between;
    width: 100%;
    height: 60px;
}

.nav-item {

}

.nav-item ul {
    margin: 0;
    display: flex;
    padding-left: 0;
    height: 100%;
    align-items: center;
}

.nav-item li {
    list-style: none;
    height: 100%;
}

.nav-item li a {
    color: #909295;
    padding: 0 20px;
    text-decoration: none;
    display: flex;
    height: 100%;
    align-items: center;
}

.nav-item li a:hover {
    background-color: black;
    color: white;
}

.logo {
    font-weight: bold;
}

.login {

    margin-right: 10px;
    padding: 0 10px;

}

.login i, .login a {
    color: #909295;
}

.login a {
    text-decoration: none;
    height: 100%;
    width: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.login i {
    font-size: 1.6rem;
    margin-right: 4px;
}

.login:hover a, .login:hover a i {
    background-color: black;
    color: white;
}

.section {
    display: flex;
    height: 569px;
}

.sidebar-left, .sidebar-right {
    background-color: #f1f1f1;
    width: 20%;
}

.sidebar-left ul {
    padding: 0;
    text-align: center;
}

.sidebar-left li {
    list-style: none;
    margin-bottom: 40px;
}

.sidebar-left li:first-child {
    margin-top: 40px;
}

.sidebar-left a {
    text-decoration: none;
}

.main-content {
    width: 70%;
    padding: 0 3%;
}

.sidebar-right a {
    text-decoration: none;
}

.ads {
    background-color: #ffffff;
    width: 90%;
    height: 100px;
    margin: 20px auto 20px auto;
    border-radius: 10px;
    position: relative;

}

.ads a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer {
    background-color: #555555;
    color: white;
    text-align: center;
    height: 100px;
    align-content: center;
}




