html {
    font-family: sans-serif;
}

body {
    width: 50%;
}

h1 {
    margin-bottom: 0;
}

hr {
    margin-top: 4px;
}

.text {
    text-indent: 30px;
    text-align: justify;
}

.bold {
    font-weight: bold;
}

#color-blue {
    color: #0171c7;
}

.color-bl {
    color: #1406cb;
    cursor: pointer;
}

.note {
    font-size: smaller;
    vertical-align: super;
    color: #1205b6;
    cursor: pointer;
}

.note-none-color {
    font-size: smaller;
    vertical-align: super;
}

